{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}
<div class="container">
  {% if allow_named_servers %}
  <h2>
  서버 실행하기
  </h2>

  <pre>
쏘카 데이터 조직에서 운영하는 Brewery입니다

사용자 가이드: https://www.notion.so/socarcorp/Brewery-0bc1063859c34bcd97bf6be3d1bda2f6
피드백 함: https://www.notion.so/socarcorp/Brewery-aa1dff943ae3425eaccdcb0b183f9cdf
  </pre>

  {% set named_spawners = user.all_spawners(include_default=False)|list %}

  <table class="server-table table table-striped">
    <thead>
      <tr>
        <th>Server name</th>
        <th>URL</th>
        <th>Resources</th>
        <th>Last activity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="home-server-row add-server-row">
        <td colspan="4">
          <input class="new-server-name" placeholder="Name your server">
          <a role="button" class="new-server-btn" class="add-server btn btn-xs btn-primary">
            Add New Server
          </a>
        </td>
      </tr>
      {% for spawner in named_spawners %}
      <tr class="home-server-row" data-server-name="{{ spawner.name }}">
        {# name #}
        <td>{{ spawner.name }}</td>
        {# url #}
        <td>
          <a class="server-link {% if not spawner.ready %}hidden{% endif %}" href="{{ user.server_url(spawner.name) }}">
            {{ user.server_url(spawner.name) }}
          </a>
        </td>
        {#  resources #}
        <td class="user-options">
            {% if spawner.user_options %}
                <div>
                    <label>cpu&mem: </label><span> {{ spawner.user_options["resources"][0] }}</span><br/>
                    <label>gpu: </label><span> {{ spawner.user_options["gpu_count"][0] if spawner.user_options["gpu_type"][0] else "None" }}</span><br/>
                    <label>disk capacity: </label><span> {{ spawner.user_options["disk_capacity"][0] + "G" }}</span>
                </div>
            {% else %}
                Never
            {% endif %}
        </td>
        {# activity #}
        <td class='time-col'>
          {% if spawner.last_activity %}
          {{ spawner.last_activity.isoformat() + 'Z' }}
          {% else %}
          Never
          {% endif %}
        </td>
        {# actions #}
        <td>
          <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.active %} hidden{% endif %}" id="stop-{{ spawner.name }}">stop</a>
          <a role="button" class="start-server btn btn-xs btn-primary {% if spawner.active %} hidden{% endif %}" id="start-{{ spawner.name }}"
          href="{{ base_url }}spawn/{{ user.name }}/{{ spawner.name }}"
          >
            start
          </a>
          <a role="button" class="delete-server btn btn-xs btn-danger{% if spawner.active %} hidden{% endif %}" id="delete-{{ spawner.name }}">delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock main %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
